
.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }

    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: #5183fe;
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

       
        p {
          padding: 20px;
          background-color: rgba(17, 25, 40, 0.3);
          border-radius: 10px;
        }

        span {
          font-size: 13px;
        }
      }
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;
    margin-top: auto;

    .icons {
      display: flex;
      gap: 20px;
    }

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    input {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      border: none;
      outline: none;
      color: white;
      padding: 20px;
      border-radius: 10px;
      font-size: 16px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
      }
    }

    .sendButton {
      background-color: #5183fe;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #5182feb4;
        cursor: not-allowed;
      }
    }
  }

  .camera {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 10;

    video {
      width: 300px;
      height: 300px;
      border-radius: 10px;
    }

    button {
      background-color: #5183fe;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .captured-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    button {
      background-color: #5183fe;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.del-button {
  padding: 5px 10px; /* Smaller padding */
  border-radius: 50px; /* Fully rounded button */
  background-color: #007bff; /* Blue color */
  color: white;
  border: 2px solid #0056b3; /* Border with a darker blue */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 14px; /* Slightly larger font size */
  font-weight: bold; /* Bold text */
}

.del-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.del-button:active {
  background-color: #003d80; /* Even darker blue on click */
  transform: scale(0.95); /* Slightly shrink on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce shadow on click */
}

.texts {
  display: flex;
  flex-direction: column;
}




.recordButton:disabled {
  background-color: #5182feb4;
  cursor: not-allowed;
}


.recorded-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.recorded-audio audio {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}


.recorded-audio button {
  background-color: #5183fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}