.detail {
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
}

.detail .user {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #dddddd35;
}

.detail .user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.detail .info button.delete {
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.detail .info button.delete:hover {
  background-color: #ff1a1a;
}

/* Assuming .option > .title is the container for both the span and Photos component */
.option > .title {
  display: flex;
  flex-direction: column;
}
.detail .info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.detail .info .option .title {
  display: flex;
}

.detail .info .option .title img {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 25, 40, 0.3);
  cursor: pointer;
}

.detail .info .option .photos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.detail .info .option .photos .photoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail .info .option .photos .photoItem .photoDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.detail .info .option .photos .photoItem .photoDetail img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  object-fit: cover;
}

.detail .info .option .photos .photoItem .photoDetail span {
  font-size: 14px;
  color: lightgray;
  font-weight: 300;
}

.detail .info .option .photos .photoItem .icon {
  width: 30px;
  height: 30px;
  background-color: rgba(17, 25, 40, 0.3);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.detail .info button {
  padding: 15px;
  background-color: rgba(230, 74, 105, 0.553);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.detail .info button:hover {
  background-color: rgba(220, 20, 60, 0.796);
}

.detail .info button.logout {
  padding: 10px;
  background-color: #1a73e8;
}

.detail .info .option .title span {
  cursor: pointer;
  padding: 5px;
}

.detail .info .option .title span:hover {
  color: #5183fe;
}